exportPattern("^[^\\.]")
import(ape,utils,scatterplot3d)
importFrom("graphics", "abline", "hist", "legend", "points", "arrows", "plot","text","polygon","lines","title")
importFrom("stats", "dist", "quantile", "sd", "var", "AIC", "BIC", "logLik", "na.omit", "pchisq", "shapiro.test","model.frame","density")
importFrom("methods", "is", "hasArg")
importFrom("phytools", "findMRCA", "nodeHeights")
importFrom("geiger", "ratematrix", "sim.char")
importFrom("phangorn", "CI", "as.phyDat", "Children", "Descendants")